{% from "macros.html" import construct_username %}

{% for message in room.messages %}
    <div class="row">
        <div class="col-md-6">
            <img style="border-radius: 50%;" src="{{ message.sender.gravatar_url(25) }}" alt="...">
            {{ construct_username(message.sender.username, 12) }}
        </div>
        <div class="col-md-6" align="right">
            {{ moment(message.sent_at).fromNow(refresh=True) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>{{ message.text }}</p>
        </div>
    </div>
{% endfor %}